name: deploy-to-server
# This workflow represents a set of basic End-to-End tests
on:
  push:
    branches:
      - 'main'

jobs:
  basic:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-22.04, ubuntu-24.04, windows-2025, macos-15]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6